@charset 'utf-8';

/* CSS Document */

/*----*****---- << General >> ----*****----*/

body {
  color: #4e4635;
  background: #f2e8c3 url(../img/top-bg.jpg) repeat;
}

/*----*****---- << Headings >> ----*****----*/

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #322f20;
}

h1.title,
h2.title,
h3.title,
h4.title,
h5.title,
h6.title {
  margin-bottom: 20px;
  padding-bottom: 18px;

  color: #fffae4;
  background: url(../img/title-shadow.png) bottom no-repeat;
  text-shadow: -1px -1px 0 #634e37;
}

.one-fourth {
  h1.title,
  h2.title,
  h3.title,
  h4.title,
  h5.title,
  h6.title {
    background: url(../img/title-shadow-one-fourth.png) bottom no-repeat;
  }
}

.one-half {
  h1.title,
  h2.title,
  h3.title,
  h4.title,
  h5.title,
  h6.title {
    background: url(../img/title-shadow-one-half.png) bottom no-repeat;
  }
}

.one-third {
  h1.title,
  h2.title,
  h3.title,
  h4.title,
  h5.title,
  h6.title {
    background: url(../img/title-shadow-one-third.png) bottom no-repeat;
  }
}

.three-fourth {
  h1.title,
  h2.title,
  h3.title,
  h4.title,
  h5.title,
  h6.title {
    background: url(../img/title-shadow-three-fourth.png) bottom no-repeat;
  }
}

.two-third {
  h1.title,
  h2.title,
  h3.title,
  h4.title,
  h5.title,
  h6.title {
    background: url(../img/title-shadow-two-third.png) bottom no-repeat;
  }
}

h1.title span,
h2.title span,
h3.title span,
h4.title span,
h5.title span,
h6.title span {
  background: url(../img/title-bg.jpg) repeat;
}

/*----*****---- << Text Elements >> ----*****----*/

a {
  color: #687719;
}

blockquote {
  color: #302715;
  border: 1px solid #8f6e31;
  background: #b59b6d url(../img/quote.png) 10px 15px no-repeat;
  span {
    color: #302715;
  }
  &.type2 {
    background-image: url(../img/quote2.png);
  }
  &.type3 {
    background-image: url(../img/quote3.png);
  }
  &.type4 {
    background-image: url(../img/quote4.png);
  }
}

pre,
code {
  border-left: 5px solid #ab936a;
  background-color: #c8b28c;
}

hr {
  color: #efefef;
  background-color: #160902;
}

/* due to IE <HR> margin bugs I had to made classed and apply them to div to achieve the effect of a <HR> */

.hr {
  background: #160902;
  &.thin {
    background: #160902;
  }
}

/*----*****---- << Tables >> ----*****----*/

th {
  color: #fffae4;
  border-bottom: 1px solid #fffae4;
  background: url(../img/title-bg.jpg) repeat;
  text-shadow: -1px -1px 0 #634e37;
}

td {
  color: #302715;
  border-bottom: none;
  background: #b39d7e;
}

tr.even td {
  background: #c1ab8b;
}

tfoot td {
  border-bottom: 4px solid #64533b;
  background: #a68d69;
}

/*----*****---- << Forms >> ----*****----*/

label {
  color: #4e4635;
}

fieldset {
  border: 1px solid #322f20;
}

input {
  &[type=text],
  &[type=password],
  &.text {
    color: #4e4635;
    border: 1px solid #bbaf9b;
    background-color: #fbf2ce;
  }
}

textarea {
  color: #4e4635;
  border: 1px solid #bbaf9b;
  background-color: #fbf2ce;
}

select {
  border: 1px solid #bbaf9b;
  background-color: #fbf2ce;
}

input[type=submit]:hover {
  background: url(../img/btn-bg-hover.jpg) repeat;
}

/*----*****---- << Images >> ----*****----*/

.post-content img {
  border: 2px solid #617b00;
}

.wp-caption {
  background: #ece8d5;
  .wp-caption-text {
    color: #4e4635;
  }
  &:hover {
    background: #819a16;
    .wp-caption-text {
      color: #fffae4;
    }
  }
}

.rounded-img {
  background: #bc9b5e;
}

/* .rounded-img:hover { background:#312925; } */

.green-border {
  border: 5px solid #617b00;
}

.pink-border {
  border: 5px solid #a06c5d;
}

.brown-border {
  border: 5px solid #b7a571;
}

/*----*****---- << Lists >> ----*****----*/

ul.flower-bullet li a {
  color: #4e4635;
  &:hover {
    color: #687719;
  }
}

/*----*****---- << Widgets >> ----*****----*/

.widget {
  &.widget_recent_entries img {
    border: 3px solid #a19680;
    &:hover {
      border: 3px solid #bc9b5e;
    }
  }
  &.tweetbox ul li {
    .tweet-time,
    a {
      color: #92764c;
    }
  }
  ul.contact-details span {
    &.address {
      background: url(../img/addr-ico.png) center no-repeat;
    }
    &.mail {
      background: url(../img/mail-ico.png) center no-repeat;
    }
    &.phone {
      background: url(../img/phone-ico.png) center no-repeat;
    }
  }
}

.error404 .content .widget ul.contact-details p a,
.booknow-page-sidebar .widget ul.contact-details p a {
  color: #4e4635;
}

.error404 .content .widget ul.contact-details p a:hover,
.booknow-page-sidebar .widget ul.contact-details p a:hover {
  color: #687719;
}

.error404 .content .widget ul.contact-details span.address,
.booknow-page-sidebar .widget ul.contact-details span.address {
  background: url(../img/addr-ico-big.png) center no-repeat;
}

.error404 .content .widget ul.contact-details span.mail,
.booknow-page-sidebar .widget ul.contact-details span.mail {
  background: url(../img/mail-ico-big.png) center no-repeat;
}

.error404 .content .widget ul.contact-details span.phone,
.booknow-page-sidebar .widget ul.contact-details span.phone {
  background: url(../img/phone-ico-big.png) center no-repeat;
}

.widget.widget_calendar {
  caption {
    color: #fffae4;
  }
  th {
    color: #fffae4;
    border-bottom: 1px solid #b39d7e;
    background: url(../img/title-bg.jpg) repeat;
    text-shadow: -1px -1px 0 #634e37;
  }
  td {
    color: #4e4635;
    background: #a38b69;
  }
  tr.even td {
    background: #b39d7e;
  }
  tfoot td {
    border-bottom: 4px solid #443826;
    background: #826c53;
  }
  a {
    color: #fffae4;
    &:hover {
      color: #221d1b;
    }
  }
}

/*----*****---- << Layout >> ----*****----*/

/*----*****---- << Header >> ----*****----*/

#header {
  position: relative;

  background: url(../img/headerR.png) center top repeat;
}

ul.menu {
  li ul li a {
    color: #fffae4;
  }
  ul {
    border-bottom: 5px solid #967d4f;
    background: #b89a62 url(../img/headerR.png) repeat;
  }
  li ul li a:hover,
  ul li:hover a {
    /*color: #644814;*/
  }
  li ul li {
    &:hover ul li {
      &:hover a {
        /*color: #644814;*/
      }
      a,
      &:hover ul li a {
        color: #fffae4;
      }
      a:hover,
      &:hover ul li a:hover {
        color: #644814;
      }
    }
    ul li {
      background: url(../img/dropbg.png);
    }
    &.current_page_item a {
      color: #644814;
    }
  }
}

#searchform {
  fieldset {
    background: #322f20;
  }
  input {
    &[type='text'] {
      color: #2e3338;
      background: #ddd1c0;
    }
    &[type='submit'] {
      background: url(../img/search.png) no-repeat;
    }
  }
}

/*----*****---- << Home Slider >> ----*****----*/

#home-slider {
  background: url(../img/slider-bg.jpg) repeat;
  /*position: relative;*/
  /*top: -6px;*/
}

.slider-wrapper {
  border-bottom: 5px solid #2b251d;
  background: #160902 url(../img/loading.gif) 50% 50% no-repeat;
}

.nivo-caption {
  top: auto !important;
  top: 40%;
  /* left:90px; */
  bottom: 0;
  /* padding:30px 20px 20px; */
  /* left:140px; width:340px; */

  width: 100%;
  /* background:url(../img/slider-text-bg.png) repeat; width:360px; */
  height: 130px;
}

.theme-default .nivo-caption {
  h2,
  p {
    color: #361f0f;
  }
}

/*----*****---- << Main >> ----*****----*/

/*----*****---- << Home >> ----*****----*/

.home #main {
  background: url(../img/top-bg.jpg) repeat;
}

.readmore {
  background: #bc9b5e url(../img/readmore.png) center no-repeat;
  &:hover {
    background-color: #79634a;
  }
}

/*----*****---- << Home Services >> ----*****----*/

.home .content-center-aligned a {
  color: #322f20;
  &:hover {
    color: #888063;
  }
}

/*----*****---- << Popular Procedures >> ----*****----*/

.box-content {
  border-bottom: 5px solid #bc9b5e;
  background: #fffcf1;
}

.notice {
  color: #4e4635;
  span.right {
    color: #8a2626;
  }
}

/*----*****---- << Breadcrumb >> ----*****----*/

.breadcrumb {
  background: url(../img/breadcrumb.jpg) repeat;
  text-shadow: -1px -1px 0 #1c0f08;
  .arrow {
    background: url(../img/breadcrumb-arrow.png) no-repeat;
  }
  a {
    color: #a07e63;
    &:hover {
      color: #d8b79d;
    }
  }
  .current-crumb {
    color: #fffae4;
  }
}

/*----*****---- << Content >> ----*****----*/

/*----*****---- << Contact >> ----*****----*/

ul.contact-details {
  span {
    &.address {
      background: url(../img/addr-ico-big.png) center no-repeat;
    }
    &.mail {
      background: url(../img/mail-ico-big.png) center no-repeat;
    }
    &.phone {
      background: url(../img/phone-ico-big.png) center no-repeat;
    }
  }
  p a {
    color: #4e4635;
    &:hover {
      color: #687719;
    }
  }
}

/*----*****---- << 404 >> ----*****----*/

.error404 h1.big-title {
  color: #282d31;
}

.back-btn {
  color: #322f20;
  background: url(../img/back-btn.png) no-repeat;
  text-shadow: 1px 1px 0 #dbcaa5;
}

.error404 {
  .widget {
    h2 a {
      color: #322f20;
      &:hover {
        color: #687719;
      }
    }
    ul li {
      background: url(../img/bullet-green.png) left 1px no-repeat;
    }
    a {
      color: #4e4635;
      &:hover {
        color: #687719;
      }
      &.big-ico-button {
        color: #322f20;
        &:hover {
          color: #322f20;
        }
      }
    }
    &.widget_calendar caption {
      color: #322f20;
    }
  }
  #footer .widget.widget_calendar caption {
    color: #fffae4;
  }
  .widget.widget_nav_menu ul.menu li a {
    color: #4e4635;
    &:hover {
      color: #687719;
    }
  }
}

/*----*****---- << Sidebar >> ----*****----*/

.sidebar {
  h2 {
    margin: 0 0 5px;
    padding: 0 0 18px;

    color: #fffae4;
    background: url(../img/sidebar-title-border.png) left bottom no-repeat;
    span {
      border: 1px solid #5f4929;
      background: url(../img/sidebar-title.jpg) repeat-x;
    }
    a {
      color: #fffae4;
      &:hover {
        color: #ebaa98;
      }
    }
  }
  .widget ul li {
    padding-bottom: 5px;
    padding-left: 20px;

    background: url(../img/sidebar-bullet.png) left top no-repeat;
    a {
      line-height: 20px;
    }
  }
  a {
    color: #4e4635;
    &:hover {
      color: #687719;
    }
    &.big-ico-button {
      color: #322f20;
      &:hover {
        color: #322f20;
      }
    }
  }
  .widget {
    &.widget_calendar caption {
      color: #322f20;
    }
    &.widget_nav_menu ul.menu li a {
      color: #4e4635;
      &:hover {
        color: #687719;
      }
    }
  }
}

/*----*****---- << Popular Procedures >> ----*****----*/

.box-content-with-design {
  color: #443821;
  background: #b59b6d url(../img/design-border.jpg) repeat;
}

table.price-table td {
  border-bottom: 1px solid #675940;
  &.even {
    color: #3b3325;
  }
}

/*----*****---- << Blog >> ----*****----*/

ul.cat-menu li {
  background: url(../img/blog-header-splitter.png) left no-repeat;
  span.active {
    border-top: 10px solid #eee4be;
  }
  a {
    color: #252212;
  }
}

.arrow-down {
  border-top: 10px solid #b7a571;
}

.categories-list {
  border: 1px solid #948878;
  background: url(../img/dark-green-bg.jpg) repeat;
  ul li {
    a {
      color: #fffae4;
      border-top: 2px solid #2f271e;
      background: #1c0f08;
      &:hover {
        border-color: #171509;
        background: #4e3e27;
      }
    }
    &.active a {
      border-color: #171509;
      background: #4e3e27;
    }
  }
}

.post-title {
  background: url(../img/post-title-bg.jpg) repeat;
  h2 a {
    color: #fffae4;
    &:hover {
      color: #cec28d;
    }
  }
}

.sticky .post-title .featured {
  color: #fffae4;
  background: url(../img/featured.png) right no-repeat;
  span {
    background: url(../img/featured-bg.jpg) repeat-x;
  }
}

.post-title {
  .readmore:hover {
    background-color: #bc9b5e;
  }
  .arrow {
    border-top: 4px solid #453829;
    border-right: 5px solid #453829;
  }
}

.post-details {
  background: #a38b69;
  .date {
    background: #c8bb81 url(../img/small-design-border.png) left 12px no-repeat;
  }
}

.post-comments {
  background: #c8bb81 url(../img/small-design-border.png) left 12px no-repeat;
}

.post-details .day,
.post-comments .count {
  color: #322f20;
}

.post-details {
  .arrow {
    border-top: 4px solid #7c633f;
    border-right: 5px solid #7c633f;
  }
  .date-group {
    color: #f2e9c4;
    background: #4e3e27;
  }
}

.post-comments span.comment {
  color: #f2e9c4;
  background: #4e3e27;
}

.post-thumb img {
  border: 5px solid #b7a571;
}

.pagination {
  /*text-shadow:-1px -1px 0px #634e37;  color:#fffae4; */
  a {
    /* color:#fffae4; */
  }
  span {
    padding: 3px;

    color: #322f20;
    a {
      padding: 3px;

      color: #322f20;
    }
    &.active a {
      display: inline-block;

      width: 10px;

      text-align: center;

      color: white;
      background-color: #322f20;
    }
  }
}

.prev-post {
  a {
    background: url(../img/prev-post.png) left no-repeat;
  }
  span {
    background: url(../img/btn-bg.jpg) repeat;
    &:hover {
      background-image: url(../img/btn-bg-hover.jpg);
    }
  }
}

.next-post span:hover,
.prev-post a:hover span,
.next-post a:hover span {
  background-image: url(../img/btn-bg-hover.jpg);
}

.prev-post a:hover {
  background-image: url(../img/prev-post-hover.png);
}

.next-post {
  a {
    background: url(../img/next-post.png) right no-repeat;
  }
  span {
    background: url(../img/btn-bg.jpg) repeat;
  }
  a:hover {
    background-image: url(../img/next-post-hover.png);
  }
}

.pagination {
  ul {
    width: 100%;
    margin-top: 8px;
    padding: 0;

    list-style-position: outside;
    list-style-type: none;

    text-align: center;
    li {
      display: inline-block;
      display: inline;
      zoom: 1;

      height: 100%;
      margin: 0 5px;
    }
  }
  li a {
    zoom: 1;

    height: 100%;
    padding: 8px 17px 7px;

    background: url(../img/btn-bg.jpg) repeat;
  }
  ul li.active-page,
  li a:hover {
    padding: 8px 17px 7px;

    text-decoration: none;

    background: url(../img/btn-bg-hover.jpg) repeat;
  }
}

.post-tags {
  color: #fffae4;
  background: url(../img/light-bg.jpg) repeat;
  a {
    color: #fffae4;
    &:hover {
      color: #be9777;
    }
  }
  span {
    background: url(../img/tags-ico.png) no-repeat;
  }
}

ul.commentlist li.comment {
  background: #b59b6d;
  a {
    color: #fffae4;
  }
}

.gravatar {
  border: 1px solid #5d5449;
  background: #79634a;
  span {
    background: #fffae4;
  }
}

.comment-meta a {
  color: #4e4635;
}

.reply a {
  color: #fffae4;
  background: #7c664d;
  &:hover {
    background: #41311a;
  }
}

.comment-body p {
  color: #41311a;
}

.cancel-comment-reply a {
  color: #fffae4;
  background: #7c664d;
  &:hover {
    background: #90a925;
  }
}

#respond h1 {
  color: #7e684f;
}

.comment-body {
  blockquote p {
    color: #4e4635;
  }
  table {
    td,
    th {
      border-bottom: 1px solid #f4efd7;
    }
  }
}

ul {
  &.commentlist li.bypostauthor {
    background: #ddd6b3;
  }
  &.related-posts li {
    border-bottom: 5px solid #bc9b5e;
    background: #fffcf1;
    h2 a {
      color: #322f20;
      &:hover {
        color: #a07e63;
      }
    }
    &:hover,
    &.active {
      background: #e3c793;
    }
  }
}

.related-slider-controls a {
  background: url(../img/related-slider-arrows.png) left top no-repeat;
}

/*----*****---- << Pagination >> ----*****----*/

.page-link {
  color: #4e4635;
  a,
  span {
    color: #fffae4;
    background: url(../img/btn-bg.jpg) repeat;
  }
  a:hover,
  span {
    background: url(../img/btn-bg-hover.jpg) repeat;
  }
}

.edit-link a {
  color: #fffae4;
  background: #7c664d;
  &:hover {
    background: #3f2f18;
  }
}

/*----*****---- << Gallery >> ----*****----*/

#sorting-container a {
  color: #302715;
  background: #a38b69;
  &.active_sort {
    color: #fffae4;
    background: #403019;
    &:hover {
      color: #fffae4;
      background: #403019;
    }
  }
  &:hover {
    color: #fffae4;
    background: #6d593d;
  }
}

.no-margin.gallery-entry {
  background: #b59b6d;
  p {
    color: #302715;
  }
}

.gallery-details .nav a,
.single-gallery-details .nav a,
.gallery-details .nav a:after,
.single-gallery-details .nav a:after {
  background: url(../img/slideshow-arrows.png) no-repeat;
}

.gallery-details .nav a:hover:after {
  opacity: 1;
}

.single-gallery-details {
  color: #302715;
  .nav a:hover:after {
    opacity: 1;
  }
}

.ajax_close {
  background: #403019 url(../img/close.png) center center no-repeat;
  &:hover {
    background-color: #bc9b5e;
  }
}

.ajax_previous:hover,
.ajax_next:hover {
  background-color: #bc9b5e;
}

.ajax_previous {
  background: #403019 url(../img/ajax-prev.png) 12px center no-repeat;
}

.ajax_next {
  background: #403019 url(../img/ajax-next.png) 16px center no-repeat;
}

.gallery-title h5 a {
  color: #302715;
  background: #a38b69;
}

.inner-entry:hover .gallery-title h5 a {
  color: #fffae4;
  background: #403019;
}

.image-overlay {
  background: #303739;
}

.image-overlay-inside {
  background: url(../img/image-overlay.png) center center no-repeat;
}

/*----*****---- << Menu Page >> ----*****----*/

.menu-title {
  background: url(../img/menu-title-line.png) left 16px repeat-x;
  span {
    background: url(../img/top-bg.jpg) repeat;
  }
}

.menu-items-list h1 a {
  color: #322f20;
}

.menu-item-price {
  color: #fff;
  background: url(../img/price-bg.png) repeat-x;
}

.menu-details p span {
  color: #997239;
}

.menu-sidebar ul li {
  border-bottom: 1px solid #decaac;
  a {
    color: #322f20;
    background: url(../img/menu-arrow.png) 10px 15px no-repeat;
    &.active,
    &:hover {
      color: #f1e8c1;
      background: #c10d0c url(../img/menu-arrow-hover.png) 10px 15px no-repeat;
    }
  }
}

.border {
  border: 8px solid #bc9b5e;
  &:hover {
    border: 8px solid #312925;
  }
}

/*----*****---- << Shortcodes >> ----*****----*/

/* Tabs */

.tabs {
  ul li a {
    color: #fffae4;
    background: url(../img/title-bg.jpg) repeat;
    text-shadow: -1px -1px 0 #596a13;
  }
  .tabnav li a {
    &:hover,
    &:focus,
    &.current {
      background: url(../img/btn-bg-hover.jpg) repeat;
    }
  }
  .tab-container {
    color: #302715;
    border-bottom: 2px solid #64533b;
    background: #a38b69;
  }
}

/* Accordion */

.accordion li {
  a {
    color: #fffae4;
    background: url(../img/title-bg.jpg) repeat;
    text-shadow: -1px -1px 0 #596a13;
    span {
      background: url(../img/accordion-hide.png) no-repeat;
    }
    &.active span {
      background: url(../img/accordion-active.png) no-repeat;
    }
  }
  div.holder a {
    color: #687719;
  }
}

/* Tooltips */

a:hover.tooltip {
  background: #473720;
}

/*----*****---- << Newsletter >> ----*****----*/

#newsletter {
  background: url(../img/newsletter-bg.png) no-repeat;
  input[type='text'] {
    border: 1px solid #bfb092;
    background: #fffae4;
  }
}

/*----*****---- << Footer >> ----*****----*/

#footer {
  color: #afa38a;
  border-top: 5px solid #100b09;
  background: url(../img/footer-bg.jpg) repeat;
  h2 {
    span {
      background: url(../img/footer-title.jpg) repeat-x;
    }
    a {
      color: #221d1b;
      &:hover {
        color: #687719;
      }
    }
  }
  a {
    color: #afa38a;
    &:hover {
      color: #ebe6d2;
    }
  }
  .widget ul li {
    background: url(../img/bullet-sandal.png) left top no-repeat;
  }
}

.testimonial-skin-carousel {
  .jcarousel-item-placeholder {
    background: #fff;
  }
  .jcarousel-prev-horizontal {
    background: url(../img/testimonial-nav.png) left top no-repeat;
  }
  .jcarousel-next-horizontal,
  .jcarousel-next-disabled:hover {
    background: url(../img/testimonial-nav.png) -22px top no-repeat;
  }
  .jcarousel-prev-disabled:hover {
    background: url(../img/testimonial-nav.png) left top no-repeat;
  }
}

#footer {
  blockquote {
    color: #afa38a;
    cite {
      color: #afa38a;
    }
  }
  .widget.social-widget h2 {
    color: #afa38a;
  }
}

.footer-bottom {
  background: url(../img/footer-bottom-bg.jpg) repeat;
  p {
    color: #514b37;
  }
}

#footer {
  .widget.widget_calendar a {
    color: #fffae4;
    &:hover {
      color: #221d1b;
    }
  }
  .widget_search #searchform fieldset {
    background: #7e735c;
  }
  .widget_rss li a {
    color: #ebe6d2;
    &:hover {
      color: #cec28d;
    }
  }
  .widget {
    &.widget_nav_menu ul.menu li a {
      color: #afa38a;
      &:hover {
        color: #ebe6d2;
      }
    }
    &.tweetbox ul li a {
      color: #ebe6d2;
    }
  }
}
