#home-slider {height: 560px;}
.slider-wrapper {height: 555px;}
#slider img {height: 555px}
.slider-container {width: 1200px;}
.slider-wrapper {width: 1200px;}

.breadcrumb {font-family: 'Oswald', Arial, sans-serif}
.sidebar h2 {font-family: 'Oswald', Arial, sans-serif}
ul.cat-menu li a {font-family: 'Oswald', Arial, sans-serif}
.categories-list ul li a {font-family: 'Oswald', Arial, sans-serif}
.post-title h2 {font-family: 'Oswald', Arial, sans-serif}
.post-details {font-family: 'Oswald', Arial, sans-serif}
.pagination {font-family: 'Oswald', Arial, sans-serif}
.page-link a, .page-link span {font-family: 'Oswald', Arial, sans-serif}
#sorting-container a {font-family: 'Oswald', Arial, sans-serif}
.gallery-title h5 a {font-family: 'Oswald', Arial, sans-serif}
.tabs ul li a {font-family: 'Oswald', Arial, sans-serif}
.accordion li a {font-family: 'Oswald', Arial, sans-serif}
a.tooltip {font-family: 'Oswald', Arial, sans-serif}
.widget.widget_calendar caption {font-family: 'Oswald', Arial, sans-serif}
.sticky .post-title .featured {font-family: 'Oswald', Arial, sans-serif}


.big-ico-button {font-family: 'Niconne', Arial, sans-serif}
span.arctext {font-family: 'Niconne', Arial, sans-serif}
.notice {font-family: 'Niconne', Arial, sans-serif}
.back-btn {font-family: 'Niconne', Arial, sans-serif}
table.price-table td.even {font-family: 'Niconne', Arial, sans-serif}
#newsletter h2 {font-family: 'Niconne', Arial, sans-serif}
.theme-default .nivo-caption h2 {font-family: 'Niconne', Arial, sans-serif}

.recentcomments a {display: inline !important;padding: 0 !important;margin: 0 !important;}


.nivo-caption p {
  font-size: 36px;
}

/* #logo img { 
  margin-left: -70px;
} */


.nivo-cap-title { 
  padding: 10px 50px;
  background-color: #4e4635; 
  opacity: 0.7; 
  font-size: 28px; 
  color: #fff;
  margin-left: 170px;
  margin-bottom: 10px;
  font-family: Lobster;
}

.nivo-cap-descr { 
  padding: 10px 50px;
  background-color: #4e4635; 
  opacity: 0.7; 
  font-size: 22px; 
  color: #fff;
  margin-right: 170px;
  text-align: right;
  font-family: Lobster;
}

@media screen and (max-width: 940px) {
  .nivo-caption { display:none !important; }
}

.home-sub #logo img {
  max-width: 300px;
}

.home-sub .logoContainer {
  height: 160px;
  background: url(/images/headerT5.png) repeat-x center top;
}

.home-sub #header {
  height: 219px
}

.news_date { font-size: 14px; padding-left: 10px; }

.introtext { display: block; min-height: 120px; }
.news-continue { border-bottom: 1px dashed #687719; margin-left: 10px; }



ul.gallery {clear: both; list-style: none outside none; margin: 8px auto; overflow: hidden; padding: 8px 0;}
ul.gallery li {background:#FFFFFF; float: left; margin: 5px; padding: 0; list-style:none; width: 160px; height: 160px; }
ul.gallery li a img {padding:4px; border:1px solid #ededed;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease; }
ul.gallery li a img:hover {-moz-box-shadow: 0 0 5px #7C674B;-webkit-box-shadow: 0 0 5px #7C674B; box-shadow: 0 0 5px #7C674B; border: 1px solid #7C674B;} 

.comment-success { color: green; }

.lastnews img { max-width: 50px; margin: 0px 15px 0px 0px !important; padding: 0px!important;}
.lastnews p { line-height: 14px; }

#ui-datepicker-div th { font-size: 11px !important; }

#booknow-form .short { width: 82px; text-align: center; }

.book-services { margin-left: 150px; }
.book-services li { list-style-type: none; float: left; width: 43%; margin-right: 20px;}
.book-services li span.treatment-element { float: left; display:block; }

.book-header-cont { text-align: center; }
.book-header { padding: 20px; font-family: Lobster; color: #c2a262; text-shadow: -1px -1px 0 #3e372a; }

.menu-item.long { }
.menu-item.long a { }


@media only screen and (min-width:980px) {
  .book-div { margin-left: 22%; }
}


@media only screen and (min-width:1200px) {
  #logo img { margin-left: -70px;}

}

@media only screen and (max-width:1200px) {
  ul.menu li a {
    font-size: 18px;
    padding: 0 15px;
  }
}

@media only screen and (max-width: 959px) and (min-width: 768px) {
  ul.menu li a {
    font-size: 14px;
    padding: 0 14px;
  }
}


@media only screen and (max-width: 767px) and (min-width: 480px) {
  .one-third { width: 100% !important; }
  .slider-container { padding-top: 15px !important; }
  .mycl {min-height: 40px !important; min-width: 200px !important; }
  .benefits .column { margin: 30px 0px 0px 0px !important; } 

  .logoContainer { height: 175px !important; }


  /*
  .mycl { font-size: 16px !important; line-height: 14px !important; min-height: 40px !important; }
  .main_classforround p+p { font-size: 11px !important; } */
}




@media only screen and (max-width: 479px) {
  .one-third { width: 100% !important; }
  .slider-container { padding-top: 15px !important; }
  .benefits .column { margin: 30px 0px 0px 0px !important; } 

  body.home .containerOut { height: 100%!important; }

  /*
  .mycl { font-size: 12px !important; line-height: 11px !important; min-height: 16px !important; }
  .main_classforround p+p { font-size: 10px !important; line-height: 12px !important; } */
}
